<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="S4C_View"
            id="it.polimi.diceH2020.s4c.plugin.view.S4C_View">
      </category>
      <view
            name="SPACE4CLoud GUI view"
            icon="icons/sample.gif"
            category="DICE-H2020"
            class="it.polimi.diceH2020.s4c.plugin.views.S4C_View"
            id="it.polimi.diceH2020.s4c.plugin.views.S4C_View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="it.polimi.diceH2020.s4c.plugin.views.S4C_View">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
</plugin>
